body {
    background-color: lightpink;
}

.main-nav-lst {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav-itm {
    padding: 2rem;
    background-color: lightgreen;
}